<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}
    </title>
    <link rel="stylesheet" href="/dist/tailwind.css" />
  </head>
  <body class="bg-white text-gray-900">
    <header class="container header py-4">
      <!-- Your site header -->
      <nav>
        <ul class="flex flex-row items-center gap-4 md:gap-6">
          <li><a href="/" class="header-nav-link">Home</a></li>
          <li><a href="/notes" class="header-nav-link">Notes</a></li>
        </ul>
      </nav>
    </header>

    <main class="container mx-auto px-4 md:px-16 py-8">{{ content }}</main>

    <footer class="text-center py-8 bg-stone-900 text-white font-Roobert">
      <p>
        © {{ site.time | date: "%Y" }} - Last updated on {{ site.time | date:
        "%-d %B %Y" }}
      </p>
    </footer>
  </body>
</html>
