@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Roobert";
  font-display: swap;
  src: url("./fonts/Roobert-Regular.woff2") format("woff2"),
    url("./fonts/Roobert-Regular.woff") format("woff");
  font-weight: regular;
  font-style: normal;
}

@layer components {
  /* Typography */
  h1 {
    @apply font-bold md:text-4xl leading-tight;
  }

  h2 {
    @apply font-bold md:text-xl leading-loose;
  }

  p {
    @apply opacity-70 leading-snug;
  }

  .link {
    @apply underline underline-offset-4 hover:text-antiFeather hover:dark:text-feather;
  }

  /* Buttons */
  .button {
    @apply transition-colors duration-200 self-start flex items-center justify-center gap-2 py-2 px-4 rounded-full bg-portabella text-deepmoss fill-current hover:bg-shiitake dark:bg-moss dark:text-sprout dark:hover:bg-vine;
  }

  a:focus-visible,
  button:focus-visible {
    @apply outline outline-2 outline-offset-4;
  }

  /** Header **/
  .header-nav-link {
    @apply flex items-center justify-center gap-2 text-deepmoss dark:text-clover;
  }

  .header-theme-toggle {
    @apply transition-colors duration-200 flex items-center gap-1 p-2 text-deepmoss dark:text-clover hover:bg-shiitake dark:hover:bg-ivy rounded-md;
  }

  .header-theme-toggle svg {
    @apply h-8 w-8;
  }

  html:not(.dark) .header-theme-toggle svg:last-of-type {
    display: none;
  }

  html.dark .header-theme-toggle svg:first-of-type {
    display: none;
  }

  /** Bento grid **/
  .bento-card {
    @apply p-8 rounded-2xl bg-oyster text-deepmoss dark:bg-ivy dark:text-sprout;
  }

  .bento-project {
    @apply transition-opacity duration-200 aspect-square flex flex-col justify-between text-center py-12 px-8 rounded-2xl bg-oyster text-deepmoss dark:bg-ivy dark:text-sprout;
  }

  .bento-button-resume {
    @apply button h-full rounded-xl;
  }

  .bento-button-resume svg {
    @apply h-6 w-6 stroke-moss dark:stroke-enoki;
  }

  .bento-button {
    @apply button h-full rounded-xl;
    min-height: 96px;
  }

  .bento-button svg {
    @apply w-6 h-6 fill-moss dark:fill-enoki;
  }
}
